<div class="jumbotron">
    <p class="lead">Make a Sale</p>
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Sale Number" aria-describedby="basic-addon1">
    </div>
</div>

