<script src="~/Scripts/CustomScripts/SaleModal.js"></script>

<div class="jumbotron">
    <p class="lead">Make a Sale</p>
    <div class="input-group pull-left">
        <input type="text" class="form-control " placeholder="Sale Number" aria-describedby="basic-addon1" id="userID">


    </div>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-md pull-left" data-toggle="modal" data-target="#saleModal" onclick="partial()">
        Make Sale
    </button>
</div>


<!-- Modal -->
<div class="modal fade" id="saleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Is this the correct cart?</h4>
            </div>
            <div class="modal-body" id="textHere">
            </div>

        </div>
    </div>
</div>